# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\XxX16 University\COMPUTER SCIENCE 2020\Programming in Java IN1007\IntelliJ Projects\FatGame\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
